[submodule "eyes.common.java"]
	path = eyes.common.java
	url = https://github.com/applitools/eyes.common.java3.git
[submodule "eyes.ufg.java"]
	path = eyes.ufg.java
	url = https://github.com/applitools/eyes.ufg.java3.git
